
@font-face {
    font-family: 'MS100';
    src: url('fonts/ms_100.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'MS300';
    src: url('fonts/ms_300.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'MS500';
    src: url('fonts/ms_500.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'MS700';
    src: url('fonts/ms_700.otf') format('opentype');
    font-weight: 700;
}